

<div class="new-banner" style="background-image: url(<%= (image_path("ingredientscollection.jpg")) %>), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
      <h2>New Cocktail</h2>
    </div>

<%#= render 'form', cocktail: @cocktail %>


<%= simple_form_for(@cocktail) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-outline-dark"  %>
  </div>

<%= link_to 'Back', cocktails_path, class: "btn btn-outline-dark mt-3" %>
<% end %>

