<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cocktail.name %>
</p>




<h2>Ingredients</h2>


<!-- for each ingredient/dose i want to add a delete button: -->

<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item">
      <%= dose.description %>
      <%= dose.ingredient.name %>
      <%= link_to 'Delete', cocktail_dose_path(@cocktail, dose), method: :delete %>
    </li>
  <% end %>
</ul>




<%= link_to 'Delete', cocktail_path(@cocktail), method: :delete %>

<%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail.id) %>
