<div class="row justify-content-center">




<div class="col-5">

    <div class="subtitle">
    </div>



  </div>
</div>


<div class="card-product">
   <div class="card-banner" style="background-image: url(<%= @cocktail.photo.attached? ? (cl_image_path @cocktail.photo.key) : (image_path("cocktail1.jpg")) %>), linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
      <%= @cocktail.name %>
    </div>
  <div class="card-product-infos col-5">
    <h2>Ingredients</h2>
       <ul>
      <% @cocktail.doses.each do |dose| %>
       <li class="pt-3">
          <%= dose.ingredient.name %> - <%= dose.description %>
        </li>
      <% end %>
    </ul>
        <%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail.id), class: "btn btn-outline-dark"  %>
         <%= link_to 'Delete', cocktail_path(@cocktail), method: :delete, class: "btn btn-outline-dark" %>
  </div>
</div>



